/*
 * Defaul style
 * -------------------------------- */
$btn
  font(text, primary, bold)
  text-decoration none
  padding 8px 20px
  transition opacity .3s
  will-change opacity
  &:hover
    opacity .8

  // If has icon
  .btn__icon
    vertical-align: middle;


/*
 * Primary button
 * -------------------------------- */
.btn__primary
  @extend $btn
  background-color $orange
  border-radius 5px
  color #fff


/*
 * SVG btn Icon
 * -------------------------------- */
.btn__icon
  height 20px
  width 15px
  fill #fff
