.main-logo
  position absolute
  left 0

  // Tablet and desktop
  +above(xs)
    top -10px
    width 120px
    height 120px
    background-color #fff
    box-shadow 0 0 10px rgba(#000, .2)

  // Mobile
  +below(xs)
    top -4px
    width 56px
    height 56px

