.breadcrumb
  // Tablet and Desktop
  +above(xs)
    padding-left 140px

  /*
   * Link
   * ---------------------------------- */
  &__link
    color $text-color
    text-decoration none
    padding 20px 10px 20px 0
    display inline-block
    font(text-small, primary, regular)

  /*
   * Icon
   * ---------------------------------- */
  &__icon
    fill $text-color
    height 13px
    width 12px
    vertical-align middle
    margin-left 5px
