.copyright
  padding 3rem 0 6rem
  background-color $gray
  text-align center

  &__text
    font(text-small, primary, semi-bold)
    max-width 70rem
    padding 1.5rem
    margin 0 auto
    color $text-color
