.list
  list-style none

  /*
   * List TITLE
   * -------------------------------------------------- */
  &__title
    font(text, primary, bold)
    margin 2rem 0
    color $text-color

  /*
   * List ITEM
   * -------------------------------------------------- */
  &__item
    font(text-small, primary, regular)
    margin-bottom 1rem
    display block
    color $text-color
    text-decoration none
