.navbar
  +above(xs)
    padding-left 140px
  +below(xs)
    padding-left 54px

  /*
   * Navbar Link
   * -------------------------------- */
  &__link
    color $text-color
    text-decoration none
    padding 5px 20px
    border-right 1px solid $border-color
    font(text, primary, semi-bold)

    &:last-child
      border-right 0
